@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bgcolor">
    <div class="container">
        <div class="forms">
            <div class="form-content">
                <div class="forgot-password-form">
                    @Html.Raw(@TempData["Message"])
                    <div class="title">Şifremi Unuttum</div>
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input class="form-control" id="emailInput" type="email" name="email" required placeholder="E-posta Adresi">
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Şifremi Sıfırla">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
