@model ResetPasswordViewModel

<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />

    <h2>Reset Password</h2>
    <form asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Token" />

        <div>
            <label asp-for="NewPassword">New Password</label>
            <input asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>

        <div>
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
