@model Category

<section id="featured-cars" class="featured-cars">
    <div class="container">
        <div class="row row-cols-4">
            <partial name="_PartialCarView" model="Model.Cars">
        </div>


    </div>

</section>

</div>

