@{
    ViewData["Title"] = "Rent Car Confirmation";
}
<br />
<br />
<br />
<br />
<br />
<br />
          
<a href="@Url.Action("RentedCars", "Account")">Aracın sipariş durumunu bu sayfadan kontrol edebilirsiniz</a>



